  <% from = @items if from.nil? %>
  <% tags = from.send( tag_group ) %>
  <% return if tags.empty? or !tags.map( &:class ).include?( tag_group.to_s.classify.constantize )%>
  <ul>
     <li><b><%= link_to "All #{tag_group.to_s.capitalize}" %></b></li> 
     <%= render :partial => "partials/tag", :collection => tags, :locals => { :tag_group=> tag_group } %>
  </ul>
