    <div id="tags">
      <%= render( :partial => "partials/tag_group", :collection => (Item.tag_types - [:images, :nonsenses, :links] ) ) %> 
    </div>
    
    <div id="items">
      <%= render( :partial => "partials/item", :collection => @items ) %>
    </div>
    
    <% if @items.empty? %>
       <b style="display:block; margin: 40px auto; width:200px;">Sorry, nothing found!</b>
    <% end %>
