BODY {
  font-family: Verdana, Arial;
  font-size: 10pt;
  color: #FFFFFF;
  background: #242D2E;
}

DIV.item IMG {
  margin: 2px;
} 

H3 {
	 border: 0;
	 padding: 0;
	 margin: 0;
	 display:inline;
}

A {
  color:#999999;
}

.accounts IMG {
	vertical-align:middle;
}



FORM LABEL {
        float: left;
        text-align: left;
	font-weight: bold;
        width: 80px;
        margin-right: 10px;
}

FORM INPUT,
FORM TEXTAREA {
        width: 130px;
        margin: 2 0 2 0px;
        border: 1px solid #666;
        padding-left: 1px;
}

FORM INPUT[type=submit] {
        width: 150px;
        margin: 0px;
        padding: 0px;
}


#tagcloud {
 	 padding:0 40px 0px 40px;
}

#tagcloud LI {
 	 display:inline;
}

#tagcloud A {
 	 text-decoration:none;
}

#tagcloud A:hover {
 	 text-decoration:underline;
}

#relations,
#relations UL {
	 border: 0px;
	 padding: 0px;
	 margin: 5px;
}

#relations LI UL LI {
 	 display:inline;
	 border: 0;
	 padding: 0;
	 margin: 0;
}

#items {
	padding:0 40px 0 40px;
}

#items a img {
 	width:25px;
	height: 25px;
        vertical-align: middle;
	margin-top:2px;
	z-index: 10
}


#items a:hover img {
	position: absolute;
 	width:60px;
	height:60px;
	z-index: 1000;
	margin: -15px 0px 0px -15px;
}

/*
#relations UL {
 	 clear:both;
}


#tagcloud A {
 	 text-decoration:none;
}

#tagcloud A:hover {
 	 text-decoration:underline;
} */