BODY {
  font-family: Verdana, Arial;
  font-size: 10pt;
  color: #FFFFFF;
  background: #424b5f url('/images/bg.gif') top repeat-x;
}

A IMG {
	border:0px;
}

DIV.item IMG {
  margin: 2px;
} 

H3 {
	 border: 0;
	 padding: 0;
	 margin: 0;
	 display:inline;
}

H4 {
	float:left;
	border: 0;
	 padding: 0;
	 margin: 0;
	 margin-left: 10px;
}

A {
  color:#999999;
}

.accounts IMG {
	vertical-align:middle;
}

.formbox {
	margin:0 auto; 
	border: 1px solid #555555; 
	width: 240px;
	background:#444444; 
	padding: 5px; 
	text-align:center;
}

FORM H3 {
	 display: block;
	 padding: 0px 0px 5px 0px;
}

FORM LABEL {
        float: left;
        text-align: left;
	font-weight: bold;
        width: 80px;
        margin-right: 10px;
}

FORM INPUT,
FORM TEXTAREA {
        margin: 2 0 2 0px;
        border: 1px solid #666;
        padding-left: 1px;
}

FORM INPUT[type=text],
FORM INPUT[type=password],
FORM TEXTAREA {
	width: 130px;
}

FORM INPUT[type=submit] {
        width: 150px;
        margin: 0px;
        padding: 0px;
	height: 20px;
	background-color: #FFFFFF;
}

#tags {
	text-align:left;
	margin:0 40px 0 40px;
}

#tags UL {
	padding: 0px;
}

#tags UL LI {
 	 display:inline;
}

#tags UL LI .selected {
 	 display:inline;
	 color:#FFFFFF;
	 font-style:bold;
	 font-size:16pt;
	 text-decoration:underline;
}


#tags UL A {
 	 text-decoration:none;
}

#tags UL A:hover {
 	 text-decoration:underline;
}

#relations,
#relations UL {
	 border: 0px;
	 padding: 0px;
	 margin: 5px;
}

#relations LI UL LI {
 	 display:inline;
	 border: 0;
	 padding: 0;
	 margin: 0;
}

#item,
#items {
	margin:0 40px 0 40px;
	text-align:left;
}

#items a img {
 	width:25px;
	height: 25px;
        vertical-align: middle;
	margin-top:2px;
	z-index: 10
}


#items a:hover img {
	position: absolute;
 	width:60px;
	height:60px;
	z-index: 1000;
	margin: -15px 0px 0px -15px;
	text-align: center;
}


#timechooser {
	margin:10px auto;
	width:850px;
}

#timechooser INPUT{
	height: 20px;
	width:100px;
	float: left;
	text-align: center;
	font-weight: bold;
	font-size: 11pt;
	color: #FFFFFF;
	background: #333333;
	border: 1px solid #666666;
}

#timechooser #container {
	float: left;
	width: 600px;
        height: 20px;
        background: #666666;
        border: 0px solid #AAAAAA;
        margin: 2px 6px 2px 6px;
}

#timechooser #clip_left {
	    background: #333333;
}

#timechooser #clip_right {
    background: #333333;
}

#timechooser #handle_min {
    background: #FF7400;
    height: 100%;
    border: 1px solid black;
}

#timechooser #handle_max {
    background: #FF7400;
    height: 100%;
    border: 1px solid black;
}

#timeline,
#map {
	border: 1px solid #333333; 
	margin: 0px 40px 0px 40px;
}

#small_map {
	border: 1px solid #333333; 
}