 <% tags = @item.send( relation_group ) %>
 <% return if tags.empty? %>
 <% collection = @item.related_items( :type => relation_group.to_s.singularize, :tags => tags ) %>
 <% return if collection.empty? %>
 <li>via <%= relation_group.to_s.capitalize %>:
    <ul>
        <%= render :partial => "relation", :collection => collection %> 
    </ul>
    <br clear="all">
 </li>
