 <% annotations = @resource.send( relation_group ) %>
 <% return if annotations.empty? %>
 <% collection = @resource.related_resources( :type => relation_group.to_s.singularize, :annotations => annotations ) %>
 <% return if collection.empty? %>
 <li>via <%= relation_group.to_s.capitalize %>:
    <ul>
        <%= render :partial => "relation", :collection => collection %> 
    </ul>
    <br clear="all">
 </li>
