 <% @alert_msg = "Sorry, no resources fetched yet. Please be patient and check again in short time." if @resources.empty? %>
 <% @alert_msg = "Please add your accounts first! Click on the icons on the top right side." if @user.accounts.empty? %>
 
 <h4>Resources View: <%= @resources.empty? ? 0 : @resources.size %> found</h4><%= image_tag 'spinner.gif', :id => 'spinner', :style => 'display:none' %><br clear="all">
 
 <%= render( :partial => "partials/resources" ); %> 
