<table id="worker_table">
 <tr><th>Name</th><th>Params</th><th>Last run</th><th>Action</th><th></th></tr>

 <%= render( :partial => "worker", :collection => @workers ) %>

</table>

<br><br>

 <%= render( :partial => "new" ) %>
