<div style="margin:0 auto; border: 1px solid #555555; width: 230px; background:#444444; padding: 5px; text-align:center;">
  <% form_for :account, :url => { :action => :edit } do |form| %> 
    <label for="name">Username:</label><%= form.text_field :username %>
    <% if @account.requires_host? -%><label for="password">Host:</label><%= form.text_field :host %><% end %>
    <% if @account.requires_password? -%><label for="password">Password:</label><%= form.text_field :password %><% end %>
    <p><%= submit_tag "Save" %></p>
  <% end %>
</div>
