<h2 style="float:left; border:0; margin:0; padding:0">your <%= @account.type %> Tags:</h2>
  <%= link_to 'edit',   :action => 'edit',   :id => @account.id %>
  <%= link_to 'delete', :action => 'delete', :id => @account.id %>

<br clear="all">



<ul id="tagcloud">
<% for f in @tags -%>
<%= content_tag( 'li', f.name, :style => style_for_tag_cloud( f.count,
@tags.last.count,
@tags.first.count ) ) %>
<% end -%>
</ul>
