<div class="formbox">
    <h3>authorize your account</h3>
     You must authorize this application to user your  account first.<br>
     Please <%= link_to 'follow this link', @account.auth_link %>
</div> 
