<div class="formbox">
    <h3><%= image_tag "/images/accounts/#{@account.type}.png" %> Authorize  <%= "#{@account.type.capitalize}" %> Account</h3>
     You have to authorize <em>WhoAmI</em> to use your <%= "#{@account.type.capitalize}" %> account. 
     <br>
     Please <%= link_to 'follow this link', @account.auth_link %>
</div> 
